using System;

namespace Test
{
	class TestTemplate
	{
		public void <#=Arguments["Method1"]#>() { Console.WriteLine("foo"); }
		public void <#=Arguments["Method2"]#>() { Console.WriteLine("bar"); }
		<# for(var i=0;i<10;++i) {
			#>public int TestField<#=(i+1).ToString()#> = <#=i.ToString()#>;<#
		}
		#>
	}
}
